<html>
<head>
	<link rel="icon" href="/images/logo.png">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="<%= themeColor %>" />
	<style>
		body {
			text-align: center;
			background: <%= themeColor %>;
		}
		body img {
			display: inline-block;
			width: 256px;
		}
	</style>
</head>
<body>
	<br/><br/><br/>
	<img src="/images/under-construction.png">
	<h1>Work in Progress</h1>
</body>
</html>