<!DOCTYPE html>
<html>
<head>
<title>AivoxoviA - MLBB</title>
<link rel="icon" href="/images/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	html { height: 100%; }
	body {
		position: relative;
		min-height: 100%;
		margin: 0;
		background: LightSkyBlue;
	}
	header {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 16px 0;
		border-top: ivory 2px solid;
	}
	header .mlbb {
		position: absolute;
		bottom: 4px;
		left: 4px;
		width: 64px;
		z-index: 1;
		padding: 8px;
		background: rgba(255, 255, 255, 0.575);
	}
	header .mlbb img {
		width: 100%;
	}
	header .app {
		display: block;
		width: 100%;
		text-align: center;
		z-index: 0;
	}

	.heroes > div {
		height: 150px;
		margin: 4px 0px 0px 4px;
		display: inline-block;
		position: relative;
	}
	.heroes > div > img {
		height: 100%;
	}
	.heroes > div > div {
		box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 4px;
    left: 0px;
    background: rgba( 0, 0, 0, .5275);
    color: white;
	}
</style>
</head>
<body>

<div class="heroes"></div>

<header>
<a class="mlbb" href="/mlbb">
	<img src="/images/mlbb/logo.png">
</a>
<a class="app" href="/">AivoxoviA</a>
</header>

<div id="heroesTpl">
	<img src="">
	<div></div>
</div>

<script>
const heroes = <%- JSON.stringify(heroes) %>;
console.log(heroes);
for (let i = 0; i < heroes.length; i++) {
	const hero = heroes[i];
	const el = document.getElementById('heroesTpl');
	const cloned = el.cloneNode(true);
	cloned.id = 'heroID' + hero.id;
	cloned.getElementsByTagName(
		'img'
	)[0].src = `/images/mlbb/heroes/${hero.id}.jpg`;
	cloned.getElementsByTagName('div')[0].innerHTML = hero.name;
	document.getElementsByClassName('heroes')[0].appendChild(cloned);
}
</script>

</body>
</html>