<!DOCTYPE html>
<html>
<head>
<title>AivoxoviA - MLBB</title>
<link rel="icon" href="/images/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	html { height: 100%; }
	body {
		position: relative;
		min-height: 100%;
		margin: 0;
		background: LightSkyBlue;
	}
	header {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 16px 0;
		border-top: ivory 2px solid;
	}
	header .mlbb {
		position: absolute;
		bottom: 4px;
		left: 4px;
		width: 64px;
		z-index: 1;
		padding: 8px;
		background: rgba(255, 255, 255, 0.575);
	}
	header .mlbb img {
		width: 100%;
	}
	header .app {
		display: block;
		width: 100%;
		text-align: center;
		z-index: 0;
	}
</style>
</head>
<body>

<header>
<a class="mlbb" href="/mlbb">
	<img src="/images/mlbb/logo.png">
</a>
<a class="app" href="/">AivoxoviA</a>
</header>


</body>
</html>