<!DOCTYPE html>
<html>
<head>
<title>AivoxoviA - MLBB Squad</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<script src="
https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js
"></script>
</head>

<body style='position: relative'>

<!-- Sidebar -->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="
  display:none;
  padding-top:150px;
  position absolute;
" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">How To Join</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">The Squad</a>
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Statistics</a>
    <a href="/" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Homepage</a>
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="
  max-width:1500px;
  position: absolute;
  top: 0;
">

<!-- Header -->
<div class="w3-opacity">
<span class="
  w3-button w3-xxlarge w3-white w3-right
" style="
  position: relative;
  z-index: 100;
" onclick="w3_open()"><i class="fa fa-bars"></i></span> 
<div class="w3-clear"></div>

<header class="w3-center w3-margin-bottom" style="
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
">
  <h1 style="
    position: relative;z-index: 0;
  "><b><a href="/">AivoxoviA</a></b></h1>
  <p><b>Let's go to Glory!</b></p>
</header>
</div>

<div class="w3-center" style="margin-top: 48px">
  <button class='btn' data-clipboard-text="5343513">
    Squad ID:
    <code>5343513</code>
    <img src="/images/copy.png" style="
      width: 16px;float: right;right: -3px;top: 3px;position: relative;
    ">
  </button> copy the squad id by clicking...
  <br/>
  &downarrow;
  <br/>
  <img src="/images/mlbb/home.jpg" style="max-width: 100%;">
  <br/>
  <img src="/images/mlbb/squad-search.jpg" style="max-width: 100%;">
  <br/>
  <img src="/images/mlbb/squad-found.jpg" style="max-width: 100%;">
</div>

<!-- End Page Content -->
</div>
 
<script>
var clipboard = new ClipboardJS('.btn');

clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);

    //e.clearSelection();
  alert('copied!');
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});

// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.width = "100%";
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
