<html>
<head>
	<link rel="icon" href="/images/logo.png">
	<title>Uang - <%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="<%= themeColor %>" />
	<style>
		body {
			background: <%= themeColor %>;
		}
		.content > div {
			display: inline-block;
			height: 120px;
			width: 120px;
			border: 1px solid rgba(0, 0, 0, 0.5175);
			background: rgba(0, 0, 0, .125);
			font-size: 12px;
		}
		.content > div > div {
			margin: auto;
			display: table;
			height: 100%;
		}
		.content > div > div > div {
			display: table-cell;
			vertical-align: middle;

			padding-right: 4px;
			padding-bottom: 4px;
			margin-right: 4px;
			margin-bottom: 4px;
			text-align: center;
		}
		.content > div > div > div > img {
			height: 48px;
		}
	</style>
	<script>
		const data = <%- JSON.stringify(uang, null, 2) %>
	</script>
</head>
<body>
	<h1>
		<a href="/">Beranda</a>
		> Uang
	</h1>
	<p>
		Coba aplikasi Android mobile app nya! unduh file
		<a
			href="https://github.com/AivoxoviA/aoxov/releases/download/alpha2/app-release.apk"
		>disini...</a></p>
  <p>
    info release apk
    <a
    	href="https://github.com/AivoxoviA/aoxov/releases"
    >https://github.com/AivoxoviA/aoxov/releases</a>
  </p>
	<div class="content"></div>
	<div id="uangTpl">
		<div>
			<div>
				<img>
				<br/><br/>
				<b></b>
			</div>
		</div>
	</div>
	<script>
		for (let i = 0; i < data.length; i++) {
			const uang = data[i];
			const el_ = document.getElementById('uangTpl');
			const el = el_.cloneNode(true);
			el.id = 'uangId#' + i;
			el.getElementsByTagName(
				'div'
			)[0].getElementsByTagName(
				'div'
			)[0].getElementsByTagName(
				'img'
			)[0].src = `/images/uang-compressed/uang-${i}.jpg`;
			el.getElementsByTagName('b')[0].innerHTML = uang.judul;
			document.getElementsByClassName('content')[0].appendChild(el);
		}
	</script>
</body>
</html>